body{
    background-color: rgb(2, 2, 22);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 250px;
    height: 250px;
    border: 2px solid #000;
    border-radius: 200px;

}
.audio-container {
    position: relative;
     margin-top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     top: 50px;
}
.video-container {  
    justify-content: center;
    /* height: 100vh; */
    margin-top: 5rem;
}
.maps-container{
    position: relative;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
}
